<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>推荐二维码</title>
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script src="https://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
<script src="/js/common/common.js"></script>
<style type="text/css">
.promote-tip {
	text-align: center;
	font-size: 14px;
	padding-bottom: 8px;
	padding-top: 8px;
	color: #6149f6;
	font-weight: bold;
}
</style>
</head>

<body>
	<div id="promoteQr" v-cloak>
		<van-nav-bar title="推荐二维码" left-arrow @click-left="window.history.back(-1);"> </van-nav-bar>
		<div style="margin-top: 3rem;">
			<div class="code-content" style="text-align: center;"></div>
			<div class="promote-tip">保存二维码,分享给好友</div>
			<div class="promote-tip">通过此二维码注册的账号即可成为你的下级</div>
			<div class="promote-tip">下级越多,收益越多</div>
			<div style="margin: 16px;">
				<van-button class="copy-qr-link" round block type="info" :data-clipboard-text="qrLink">复制推广链接</van-button>
			</div>
		</div>

	</div>
	<div th:replace="common/footer::html"></div>
	<script type="text/javascript" src="/js/promote-qr.js"></script>
</body>
</html>